# Transformation
/target/
/src/.scanner*
.classpath
.project
.settings/

# Log files
*.log
logs/
log/

# System files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Temporary files
*.tmp
*.temp
*.swp

# Backup files
*.bak

# IDE and Editor specific folders
/.idea/
/.vscode/

# Any file that contains sensitive or unnecessary data
*.key
*.pem
*.crt
*.p12

# Maven specific files
.mvn/
.settings/
.idea/

# Miscellaneous
*.iml
