#Configuración necesaria para formar las URIs de los cubos de datos
kosName=
defName=
host=
eldaName=
datasetName=
bom=

#Resultados del proceso de lectura
formatConfig=
fileHashCSV=
fileErrorGeneric=
fileErrorBig=
fileErrorNotFound=

#Configuración de integración con Github
apiKeyAragopedia=
githubToken=
githubURLIssues=
createIssue=

#Configuración de acceso al servicio de datos del IAEST
urlBiAragon=
initialDataCube=
nqUserBiAragon=
nqPasswordBiAragon=
sawUiAragonBiAragon=
oraBipsLbinfoBiAragon=
oraBipsNqidBiAragon=
utmaBiAragon=
utmcBiAragon=
utmzBiAragon=
defaultTimeOut=
readTimeOut=
limitCubeSize=
limitCubeSizeActive=

#Otras URLs
urlQueryTodosGrafos=
urlGraph=
urlGraphCommonData=

#Datos de acceso a repositorio Google (deprecated)
downloadDrive=
publicDrive=
addDataConstant=
emailUserFile=
idParentFolder=
domainPermission=
p12File=
acountId=
APPLICATION_NAME=
emailUser=
emailPassword=
emailDestination=